.text-area {
  -fx-background-color: white;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-padding: 0;
  -fx-effect: null;
}

.text-area .content {
  -fx-background-color: white;
  -fx-effect: null;
}

.text-area .scroll-pane {
  -fx-background-color: white;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-effect: null;
}

.button {
  -fx-background-color: white;
  -fx-text-fill: rgb(0, 0, 0);
  -fx-border-color: rgb(120, 120, 120);
  -fx-border-width: 3px;
  -fx-border-radius: 1px;
}

.button:hover {
  -fx-background-color: lightgrey;
}

.button:pressed {
  -fx-background-color: darkgrey;
}

.text-field {
  -fx-background-color: white;
  -fx-border-color: rgb(120, 120, 120);
  -fx-border-width: 3px;
  -fx-border-radius: 1px;
  -fx-text-fill: black;
}