.text-area {
  -fx-background-color: white;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-padding: 0;
  -fx-effect: null;
}

.text-area .content {
  -fx-background-color: white;
  -fx-effect: null;
}

.text-area .scroll-pane {
  -fx-background-color: white;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-effect: null;
}

.button {
  -fx-background-color: white;
  -fx-text-fill: rgb(0, 0, 0);
  -fx-border-color: rgb(120, 120, 120);
  -fx-border-width: 3px;
  -fx-border-radius: 1px;
}

.button:hover {
  -fx-background-color: lightgrey;
}

.button:pressed {
  -fx-background-color: darkgrey;
}

.text-field {
  -fx-background-color: white;
  -fx-border-color: rgb(120, 120, 120);
  -fx-border-width: 3px;
  -fx-border-radius: 1px;
  -fx-text-fill: black;
}

.combo-box {
  -fx-background-color: white;
  -fx-border-color: rgb(120, 120, 120);
  -fx-border-width: 3px;
  -fx-border-radius: 1px;
  -fx-text-fill: black;
}

.combo-box .list-cell {
  -fx-background-color: white;
  -fx-border-color: rgb(120, 120, 120);
  -fx-border-width: 0px;
  -fx-text-fill: black;
}

.combo-box .list-cell:hover {
  -fx-background-color: lightgrey; /* Hover effect for items */
}

.combo-box .arrow-button {
  -fx-background-color: white;
  -fx-border-color: white;
}

.combo-box:hover {
  -fx-border-color: rgb(100, 100, 100);
}

.combo-box:focused {
  -fx-border-color: rgb(80, 80, 80);
}

.combo-box:pressed .arrow-button {
  -fx-background-color: lightgrey;
}

/* Scrollbar styling */
.combo-box .scroll-bar {
  -fx-background-color: rgb(230, 230, 230);
}

.combo-box .scroll-bar .thumb {
  -fx-background-color: rgb(200, 200, 200);
  -fx-background-radius: 2px;
}

.combo-box .scroll-bar .thumb:hover {
  -fx-background-color: rgb(180, 180, 180); /* Hover effect for scrollbar thumb */
}

.combo-box .scroll-bar .track {
  -fx-background-color: rgb(240, 240, 240);
}

.tooltip {
  -fx-background: rgba(30, 30, 30);
  -fx-text-fill: white;
  -fx-background-color: rgba(69, 69, 69, 0.8);
  -fx-background-radius: 0px; /* Sharp corners */
  -fx-background-insets: 0;
  -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
  -fx-font-size: 0.85em;
}